<!-- {%load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/Trainers1.css' %}">
    <title>Document</title>
</head>
<body>
    <div>
        
        <div class='navbar'>
            <div class='navdiv'>
              <div class='logo'><h2>Execute Fitness</h2></div>
                <ul class='li'>
                  <li><a class="active" href='Navbar1.html'>Home</a></li>
                  <li><a href='About.html'>About us</a></li>
                  <li><a href='Gallery.html'>Gallery</a></li>
                  <li><a href='Trainers.html'>Trainers</a></li>
                  <button class='btn-1'><a href='Member1.html'>Membership</a></button>
                </ul>

               
                
            
            </div>
      
            <div class="head5">
                <h1>Our Trainers</h1>
            </div>
            
          </div>
    </div><br><br>



    footer


    <footer class="footer">
        <div class="footer-section">
          <h2>COMPANY</h2>
          <ul>
            <li><a href="Navbar1.html">Home</a></li>
            <li><a href="About.html">About Us</a></li>
            <li><a href="Gallery.html">Gallery</a></li>
            <li><a href="Trainers.html">Trainers</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h2>OPEN HOURS</h2>
          <p><strong>Monday - Saturday (Morning)</strong><br/>6am - 11am</p>
          <p><strong>Monday - Saturday (Evening)</strong><br/>4pm - 10pm</p>
          <p><strong>Sunday</strong><br/>Closed</p>
        </div>
        <div class="footer-section">
          <h2>About Execute Fitness Gym</h2>
          <p>At Execute Fitness Gym, we're dedicated to transforming lives through dynamic workouts, cutting-edge equipment, and a motivating community.</p>
        </div>
      </footer><br>
</body>
</html> -->

{%load static %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/Trainers1.css' %} ">
    <title>Document</title>
</head>


<body>
    <div>
        
      <nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
        <div class="container-fluid">
          <div class="logo-container">
            <img class="logo1" src="WhatsApp Image 2024-04-12 at 22.49.55.jpeg" height="150px">
        </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExample01">
            <ul class="navbar-nav me-auto mb-2">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="navbarrrrrr.html">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" data-bs-toggle="dropdown" aria-expanded="false">About Us</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="About.html">Our Events</a></li>
                  <li><a class="dropdown-item" href="Bmical.html">BMI Calculator</a></li>
                  <li><a class="dropdown-item" href="Diet1.html">Diet Plan</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="Gallery.html">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="Trainers.html">Trainers</a>
              </li>
              
            </ul>
            <button type="button" class="btn btn-primary"><a href='Member1.html'>Become a Member</a></button>
          </div>
        </div>
      </nav>
      
            <div class="head5">
                <h1>Our Trainers</h1>
            </div>


            <div class="video-container1">
              <video autoplay loop muted id="video-bg1">
        
                <source src="135160-761273559_medium.mp4" type="video/mp4">
        
              </video>
            </div>
            
          </div>
    </div><br><br>
 -->

    <!-- <div class="cards2">
    <div class="card-group">
      <div class="card">
        <img src="img1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="img1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="img1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div> -->



  <!-- <section id="trainersinfo">
    <div class="wrapper">
        <div class="card">
            <img class="profile" src="img2.jpg" alt="">
            <div class="info">
                <h1>Rohit</h1>
                <ul>
                    <li><a href="#" ><img class="hov" src="fb.jpg" width="30px" height="30px"></a></li>
                    <li><a href="#" ><img class="hov" src="ins.jpg" width="30px" height="30px"></a></li>
                </ul>
            </div>
        </div>
    
        <div class="card">
            <img class="profile" src="img6.jpg" alt="">
            <div class="info">
                <h1>Sanket</h1>
                <ul>
                    <li><a href="#" ><img class="hov" src="fb.jpg" width="30px" height="30px"></a></li>
                    <li><a href="#" ><img class="hov" src="ins.jpg" width="30px" height="30px"></a></li>
                </ul>
            </div>
        </div>
    
        <div class="card">
            <img class="profile" src="WhatsApp Image 2024-04-13 at 13.30.35.jpeg" alt="">
            <div class="info">
                <h1>Rishabh</h1>
                <ul>
                    <li><a href="#" ><img class="hov" src="fb.jpg" width="30px" height="30px"></a></li>
                    <li><a href="#" ><img class="hov" src="ins.jpg" width="30px" height="30px"></a></li>
                </ul>
            </div>
        </div>
    </div>

 </section>



    <footer class="footer">
        <div class="footer-section">
          <h2>COMPANY</h2>
          <ul>
            <li><a href="Navbar1.html">Home</a></li>
            <li><a href="About.html">About Us</a></li>
            <li><a href="Gallery.html">Gallery</a></li>
            <li><a href="Trainers.html">Trainers</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h2>OPEN HOURS</h2>
          <p><strong>Monday - Saturday (Morning)</strong><br/>6am - 11am</p>
          <p><strong>Monday - Saturday (Evening)</strong><br/>4pm - 10pm</p>
          <p><strong>Sunday</strong><br/>Closed</p>
        </div>
        <div class="footer-section">
          <h2>About Execute Fitness Gym</h2>
          <p>At Execute Fitness Gym, we're dedicated to transforming lives through dynamic workouts, cutting-edge equipment, and a motivating community.</p>
        </div>
      </footer><br>
</body>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainers</title>
    <link rel="stylesheet" href="{% static 'css/About.css' %}">
</head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<body>
    

    <div class="nave">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <div class="logo-container">
                    <img class="logo1" src="{% static 'images/WhatsApp Image 2024-04-12 at 22.49.55.jpeg' %}" height="100px" width="100px">
                </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'Home' %}">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      About Us
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'about' %}">Our Events</a></li>
                      <li><a class="dropdown-item" href="{% url 'bmi' %}">BMI Calculator</a></li>
                      <li><a class="dropdown-item" href="{% url 'Diet1' %}">Diet Plan</a></li>
                    </ul>
                  </li>
      
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'Gallery' %}">Gallery</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Trainers</a>
                  </li>
                </ul>
                <button type="button" class="btn btn-primary"><a href="{% url 'Membership' %}">Become a Member</a></button>
              </div>
            </div>
            
          </nav>
    
    
          <div class="head5">
            <h1> Our Trainers</h1>
        </div>
    
    </div>

    <div class="video-container1">
        <video autoplay loop muted id="video-bg1">
  
          <source src="{% static 'images/135162-761273567_medium.mp4' %}" type="video/mp4" width="100px">
  
        </video>
      </div>

      <div class="mtext">
        <p style="color: red;" class="gtext">OUR TEAM MEMBERS</p>

       <div class="ptext">
            
           OUR MOST EXPRIENCED<br> TRAINERS
            
        </div>
    </div>
      
  <section id="trainersinfo">
    <div class="wrapper">
        <div class="card">
            <img class="profile" src="{% static 'images/img2.jpg' %}" alt="">
            <div class="info">
                <h1>Rohit</h1>
                <ul>
                    <li><a href="#" ><img class="hov" src="{% static 'images/fb.jpg' %}" width="30px" height="30px"></a></li>
                    <li><a href="#" ><img class="hov" src="{% static 'images/ins.jpg' %}" width="30px" height="30px"></a></li>
                </ul>
            </div>
        </div>
    
        <div class="card">
            <img class="profile" src="{% static 'images/img6.jpg' %}" alt="">
            <div class="info">
                <h1>Sanket</h1>
                <ul>
                    <li><a href="#" ><img class="hov" src="fb.jpg" width="30px" height="30px"></a></li>
                    <li><a href="#" ><img class="hov" src="ins.jpg" width="30px" height="30px"></a></li>
                </ul>
            </div>
        </div>
    
        <div class="card">
            <img class="profile" src="{% static 'images/WhatsApp Image 2024-04-13 at 13.30.35.jpeg' %}" alt="">
            <div class="info">
                <h1>Rishabh</h1>
                <ul>
                    <li><a href="#" ><img class="hov" src="fb.jpg" width="30px" height="30px"></a></li>
                    <li><a href="#" ><img class="hov" src="ins.jpg" width="30px" height="30px"></a></li>
                </ul>
            </div>
        </div>
    </div>

 </section>

    <!-- footer -->


    <footer class="footer">
        <div class="footer-section">
          <h2>COMPANY</h2>
          <ul>
            <li><a href="{% url 'Home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About us</a></li>
            <li><a href="{% url 'Gallery' %}">Gallery</a></li>
            <li><a href="{% url 'Trainers' %}">Trainers</a></li>
            
          </ul>
        </div>
        <div class="footer-section">
          <h2>OPEN HOURS</h2>
          <p><strong>Monday - Saturday (Morning)</strong><br/>6am - 11am</p>
          <p><strong>Monday - Saturday (Evening)</strong><br/>4pm - 10pm</p>
          <p><strong>Sunday</strong><br/>Closed</p>
        </div>
        <div class="footer-section">
          <h2>About Execute Fitness Gym</h2>
          <p>At Execute Fitness Gym, we're dedicated to transforming lives through dynamic workouts, cutting-edge equipment, and a motivating community.</p>
        </div>
      </footer>
</body>
</html>